<style>
.b-here {
	/* --font-primary: GT Walsheim, Maven Pro, Arial, sans-serif; */
	--font-primary: GT Walsheim, GT Walsheim, GT Walsheim;
	--background: #ffffffb6;
	--background-negative: #101010;
	--background-primary: #7140eb;
	--background-secondary: #ff4332;
	--background-tertiary: #ded8e4;
	--background-primary-darker: #7140eb;
	--background-primary-darkest: #7140eb;
	--background-primary-disabled: #cec4dd;
	--background-primary-dimmed: rgba(0, 153, 255, 0.08);
	--foreground: #101010;
	--foreground-negative: #fcfcfc;
	--foreground-primary: #7140eb;
	--foreground-secondary: #ff4332;
	--foreground-tertiary: #6d7b84;
	--foreground-primary-darker: #7140eb;
	--foreground-primary-darkest: #7140eb;
	--foreground-primary-disabled: #c4d3dd;
	--foreground-primary-dimmed: rgba(98, 0, 255, 0.5);
	--border: #101010;
	--shadow: rgba(122, 86, 151, 0.65);
}

</style>
