<script>
var options = {
	appKey: '865af1430a854af5b01733ff9b725a2b',
	channelName: 'BHere',
	logo: '/b-here-more/img/logo.png',
	background: {
		// image: '/b-here-more/img/background.jpg',
		video: '/b-here-more/img/background.mp4',
	},
	selfServiceAudio: null, // '/b-here-more/audio/self-service.mp3',
	colors: {
		menuBackground: '#000000',
		menuForeground: '#ffffff',
		menuOverBackground: '#7140eb',
		menuOverForeground: '#ffffff',
		menuBackBackground: '#7140eb',
		menuBackForeground: '#000000',
		menuBackOverBackground: '#7140eb',
		menuBackOverForeground: '#ffffff',
	},
	editor: {
		disabledViewTypes: ['waiting-room'],
		disabledViewItemTypes: ['texture'],
	},
	assets: '/b-here-more/',
	dist: '/b-here-more/',
	workers: {
		image: '/b-here-more/js/workers/image.service.worker.js',
		prefetch: '/b-here-more/js/workers/prefetch.service.worker.js',
	},
	textures: {
		envMap: 'textures/envMap/studio_small_03_2k.hdr',
		grid: 'textures/grid/grid.jpg',
	},
	githubDocs: 'https://raw.githubusercontent.com/diegoUE8/b-here-more/main/docs/',
	template: {
		email: {
			supportRequest: '/email/support-request.html',
		}
	},
	flags: {
		production: false,
		useProxy: false,
		useToken: false,
		useExtendedUserInfo: true,
		useEncryptedUrl: false,
		gdprRoutes: true,
		selfService: true,
		guidedTourRequest: true,
		editor: true,
		editorAssetScreen: true,
		menu: true,
		menuEmbed: true,
		navmaps: true,
		screenShare: true,
		chat: true,
		ar: true,
		like: true,
		hideNavInfo: true,
		useIframe: true,
		attendee: true,
		streamer: true,
		viewer: true,
		smartDevice: true,
		selfServiceProposition: false,
		navInfoAnimated: true,
		navInfoImportantAnimated: true,
		navMoveAnimated: true,
		navMoveImportantAnimated: true,
		navPointAnimated: false,
		navPointImportantAnimated: false,
		navTitleAnimated: false,
		navTitleImportantAnimated: false,
		navTransparentAnimated: true,
		navTransparentImportantAnimated: true,
		useTextureEnvironment: true,
		usePaths: true,
		antialias: true,
		alpha: false,
		premultipliedAlpha: false,
	},
	navs: {
		iconMinScale: 1.2,
		iconMaxScale: 1.6,
	},
	profiles: {
		// streamer: "480p_1", // 640 x 480 x 15
		streamer: "480p_2", // 640 x 480 x 30
		// streamer: "480p_3", // 480 x 480 x 15
		// streamer: "480p_4", // 640 x 480 x 30
		// streamer: "480p_6", // 480 x 480 x 30
		// streamer: "480p_8", // 848, 480 x 15
		// streamer: "480p_9", // 848, 480 x 30
		// streamer: "480p_10", // 640 x 480 x 10
		// streamer: "720p_1", // 1280 x 720 x 15
		// streamer: "720p_2", // 1280 x 720 x 30
		// streamer: "720p_3", // 1280 x 720 x 30
		// streamer: "720p_5", // 960 x 720 x 15
		// streamer: "720p_6", // 960 x 720 x 30
		// streamer: "1080p_1", // 1920 x 1080 x 15
		// streamer: "1080p_2", // 1920 x 1080 x 30
		// streamer: "1080p_3", // 1920 x 1080 x 30
		// streamer: "1080p_5", // 1920 x 1080 x 60

		// publisher: "720p_2", // 1920 x 1080 x 30
		publisher: "1080p_2", // 1920 x 1080 x 30

		// screen: "480p_1", // 640 × 480 x 5
		// screen: "480p_2", // 640 × 480 x 30
		// screen: "720p_1", // 1280 × 720 x 5
		// screen: "720p_2", // 1280 × 720 x 30
		// screen: "1080p_1", // 1920 × 1080 x 5
		screen: "1080p_2", // 1920 × 1080 30
	},
};

</script>
